# Игнорировать папку data
/data/

# Игнорировать папку env
/env/

# Игнорировать файлы Python
__pycache__/
*.py[cod]

# Игнорировать файлы среды разработки (например, VSCode)
.vscode/

# Игнорировать лог-файлы
*.log

/checkpoints/